@import url(https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css)
@import url(https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css)

body 
    background-color: white;
    background-image: url("https://static.pexels.com/photos/314726/pexels-photo-314726.jpeg")

.header
    text-align: center
    margin-top: 5%

.portfolio-project-box
    background-color: lightgrey
    opacity: .5
    padding: 1rem

.top-navbar
    background-color: white
    opacity: .5

.content
    text-align: center

.skills
    background-color: white
    opacity: .5